.container {
  max-width: 100%;
  .main-title {
    font-size: 35px;
    font-weight: 700;
    margin-left: 2px;
  }
}

::ng-deep .p-tag {
  background: #c9317f;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.65rem 0.6rem;
  border-radius: 3px;
}

.badge-title {
  position: relative;
  top: -15px;
  line-break: anywhere;
}

