.assign-title {
  font-weight: 600;
  color: #c9317f;
}
::ng-deep .customSubProgress .p-progressbar .p-progressbar-value {
  opacity: 0.85;
}
::ng-deep .customSubProgress .p-progressbar-determinate .p-progressbar-label {
  color: white;
  font-size: 14px;
  margin-top: -2px;
}

::ng-deep .customSubProgress .p-progressbar {
  border-radius: 13px;
  height: 20px;
  margin-top: 6px;
}
