/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body * {
    font-family: 'Montserrat', sans-serif;

    .overlay {
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        pointer-events: none;

        .amd-title {
            background: white;
            -webkit-background-clip: text;
            font-weight: 800;
            -webkit-text-fill-color: transparent;
        }
    }

    .amd-title {
        background: #c9317f;
        -webkit-background-clip: text;
        font-weight: 800;
        -webkit-text-fill-color: transparent;
    }

}
